@use '@styles/mixins' as *;
@use '@styles/variables' as *;

.rightService {
    position: relative;
    @include centralize-flex;
    flex-direction: column;

    gap: 30px;
    padding: 10px 5px;
    width: 300px;

    span {
        position: absolute;
        top: 9%;
        left: 73%;
        color: $colorWhite100;
        font-family: "Inter", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    button {
        padding: 0;
        z-index: 2;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 78%;
        left: 20%;

        img {
            width: 100%;
            rotate: -145deg;
        }
    }

    .serviceImg {
        position: absolute;
        top: 25%;
        width: 70%;
    }

    p {
        color: $colorWhite100;
        font-family: "Inter", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}