@use '@styles/mixins' as *;
@use '@styles/variables' as *;

button {
    @include centralize-flex;
    padding: 10px 20px;
    gap: 15px;
    transform: translate(-30%, -50%);

    color: $colorWhite100;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    font-family: "Space Grotesk";
    line-height: normal;

    border-radius: 40px;
    border: 3px solid $gradient-lightGradient;
    box-shadow: 4px 3px 6px 0 #FAFAFA;

    cursor: pointer;
}