/* Reset global SCSS Monstro */
@use '@styles/breakpoints' as *;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121212;
}
/* scroll suave*/
html {
  scroll-behavior: smooth;
}

/* Remove estilos padrão de listas */
ul, ol {
  list-style: none;
}

/* Links sem decoração */
a {
  text-decoration: none;
  color: inherit;
}

/* Imagens responsivas */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Tipografia básica */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: #121212;

}

/* Inputs e botões */
button, input, select, textarea {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

/* Botões clicáveis */
button {
  cursor: pointer;
}

/* Tabelas */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Cabeçalhos sem peso extra */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.sdd {
  position: absolute;
  top: 3%;
  left: 52%;
  transform: translateX(-380%);
  width: 156px;

  @include respond-to(md){
    top: 5%;
    left: 54%;  
    width: 140px;
  }
  @include respond-to(sm){
    top: 3%;
    left: 130%;
  }
}

.background-svg {
  position: absolute;
  inset: 0;
  width: 100%;
  z-index: -1; // fica atrás do conteúdo
}