@use '@styles/mixins' as *;
@use '@styles/variables' as *;

header {
    position: fixed;
    top: 8%;
    left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 552px;
    height: 60px;
    border-radius: 50px;
    background-color: $colorBlacktransp40;
    border: 1px solid $colorWhite100;
    box-shadow: 4px 4px 4px 0 rgba(250, 250, 250, 0.25);
    // efeito de vidro
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    nav {
        ul {
            @include centralize-flex;
            gap: 60px;

            li {
                a {
                    @include centralize-flex;
                    font-size: 24px;
                    color: $colorWhite100;
                    font-weight: 400;

                    &.active {
                        font-weight: 700;
                    }
                }
            }
        }
    }
}