@use '@styles/mixins' as *;
@use '@src/styles/variables' as *;
@use '@src/styles/breakpoints' as *;

header {
    position: absolute;
    top: 3%;
    left: 52%;
    transform: translateX(-65%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 552px;
    min-width: 600px;
    height: 60px;
    border-radius: 50px;
    background-color: $colorBlacktransp40;
    border: 1px solid $colorWhite100;
    box-shadow: 4px 4px 4px 0 rgba(250, 250, 250, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    
    @include respond-to(sm){
        display: none;
    }
    nav {
        ul {
            @include centralize-flex;
            gap: 60px;

            li {
                a {
                    @include centralize-flex;
                    color: $colorWhite100;
                    font-size: 24px;
                    font-weight: 400;
                    text-align: right;
                    font-family: "Space Grotesk";
                    font-style: normal;
                    line-height: 40px;
                    letter-spacing: -0.96px;
                    cursor: pointer;
                    position: relative; // necessário para o pseudo-elemento

                    // underline animado no hover
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0%;
                        height: 2px;
                        background-color: $colorWhite100;
                        transition: width 0.3s ease;
                    }

                    &:hover::after {
                        width: 100%;
                    }

                    // underline fixo no link ativo
                    &.active::after {
                        width: 100%;
                    }

                    &.active {
                        font-weight: 700;
                    }
                }
            }
        }
    }
    @include respond-to(md){
        top: 5.5%;
        left: 53%;
        width: auto;
        height: auto;
        min-width: 200px;
        padding: 5px 40px;
        nav {
            ul {
                gap: 30px;
                li {
                    a {
                        font-size: 24px;
                    }
                }
            }
        }
    }
}   