@use '@styles/mixins' as *;
@use '@styles/variables' as *;

.services {
    @include centralize-flex;
    flex-direction: column;

    h2{
        width: 100%;
        color: $colorWhite400;;
        font-size: 48px;
        text-align: start;
        font-weight: 700;
        border-bottom: 1px solid #BDBDBD;
    }

    p{
        color: $colorWhite100;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .servicesWrapper{
        @include centralize-flex;
        gap: 60px;  
    }
}