@use '@styles/mixins' as *;
@use '@styles/variables' as *;
@use '@styles/breakpoints' as *;

footer {
    @include centralize-flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;

    h2 {
        width: 1300px;
        color: $colorWhite100;
        text-align: center;
        font-family: "Space Grotesk";
        font-size: 120px;
        font-weight: 700;
        letter-spacing: 16.8px;
    }

    h2.secundary {
        width: 660px;
        color: $colorWhite100;
        font-family: Roboto;
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 3px;
    }

    .socialMedias {
        @include centralize-flex;
        flex-direction: column;
        gap: 30px;

        h3 {
            color: $colorWhite100;
            font-family: Roboto;
            font-size: 48px;
            font-weight: 400;
        }

        .socialWrap {
            @include centralize-flex;
            gap: 30px;
            width: 500px;

            .instagram,
            .linkedin {
                @include centralize-flex;
                gap: 15px;
                color: $colorWhite100;
                font-family: Roboto;
                font-size: 32px;
                font-weight: 400;
                cursor: pointer;
                position: relative;

                // underline animado
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -4px;
                    left: 0;
                    width: 0%;
                    height: 2px;
                    background-color: $colorWhite300;
                    transition: width 0.3s ease;
                }

                &:hover {
                    color: $colorWhite300;
                    transform: translateY(-3px);
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }

        .whatsapp {
            @include centralize-flex;
            gap: 15px;
            color: $colorWhite100;
            font-family: Roboto;
            font-size: 32px;
            font-weight: 400;
            cursor: pointer;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: -4px;
                left: 0;
                width: 0%;
                height: 2px;
                background-color: $colorWhite300;
                transition: width 0.3s ease;
            }

            &:hover {
                color: $colorWhite300;
                transform: translateY(-3px);
            }

            &:hover::after {
                width: 100%;
            }
        }
    }

    h4,
    h5 {
        color: $colorWhite100;
        font-family: Roboto;
        font-size: 28px;
        font-weight: 400;
    }

    p {
        color: $colorWhite100;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 400;
    }

    @include respond-to(sm) {
        gap: 20px;
        max-width: 450px;

        h2 {
            max-width: 90%;
            font-size: 30px;
            color: $colorWhite100;
            text-align: center;
            font-family: "Space Grotesk";
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 6.72px;
        }

        h2.secundary {
            color: $colorWhite100;
            font-family: Roboto;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1.6px;
        }

        .socialMedias {
            gap: 15px;
            width: 100%;

            h3 {
                color: $colorWhite100;
                font-family: Roboto;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .socialWrap {

                .instagram,
                .linkedin {
                    color: $colorWhite100;
                    font-family: Roboto;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    &:hover {
                        transform: none;
                    }

                    &:hover::after {
                        width: 0;
                    }
                }
            }

            .whatsapp {

                color: $colorWhite100;
                font-family: Roboto;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                &:hover {
                    transform: none;
                }

                &:hover::after {
                    width: 0;
                }
            }
        }

        h4 {
            margin-top: 10px;
            width: 270px;
            color: $colorWhite100;
            text-align: center;
            font-family: Roboto;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        
        h5 {
            margin-top: 10px;
            color: $colorWhite100;
            font-family: Roboto;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        
        h6 {
            margin-top: 10px;
            color: $colorWhite100;
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}