@use '@styles/mixins' as *;
@use '@styles/variables' as *;

footer {
    @include centralize-flex;
    flex-direction: column;

    h2 {
        color: $colorWhite100;
        text-align: center;
        font-family: "Space Grotesk";
        font-size: 120px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 16.8px;
    }

    h2.secundary {
        width: 660px;
        color: $colorWhite100;
        font-family: Roboto;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3px;
    }

    .socialMedias {
        @include centralize-flex;
        flex-direction: column;
        gap: 30px;

        h3 {
            color: $colorWhite100;
            font-family: Roboto;
            font-size: 48px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .socialWrap {
            @include centralize-flex;
            flex-wrap: wrap;
            gap: 30px;
            width: 484px;

            .instagram,
            .linkedin,
            .whatsapp {
                @include centralize-flex;
                gap: 15px;
                color: $colorWhite100;
                width: 215px;
                font-family: Roboto;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}